<div class="container">
    <div class="col-md-12 text-center jumbotron jumbotron-fluid">
        <h1 class="display-2"> Eat-Da-Burger </h1>
    </div>
</div>
<div class="container">
    <div class="row">
    <div class="col-md-6 ">
        <h3 class="text-center"><strong>Burgers to Devour</strong></h3>
        <div class="row">
            {{#each burger_info}}
            {{#unless this.devoured}}
            
            <div class="col-md-9 border p-1">
               {{this.id}}. {{this.burger_name}}
					
            </div>
            <div class="col-md-3 p-1" >
                <form class="devour-form button-size">
                    <input type="hidden" class="burger_id" type="text" value={{this.id}}>
                    <button type="submit" class="btn btn-danger">Devour it!</button>
                </form>
            </div>
            {{/unless}}
            {{/each}}
        </div>
    </div>
    <div class="col-md-6 text-center">
        <h3 class="text-center"><strong>Burgers Devoured</strong></h3>
        {{#each burger_info}}
        {{#if this.devoured}}
        <input class="form-control" type="text" placeholder="{{this.id}} . {{this.burger_name}}" readonly>
        {{/if}}
        {{/each}}
    </div>
    </div>
</div>
</div>

<div class="container">
    <div class="row d-flex justify-content-center p-3">
        <div class="col-md-6 text-center enter_section">
            <form action="/burgers/create" method="POST">
                <input type="text" class="form-control" name="burger_name" value="" id="enter_text">
                <button type="submit" class="btn btn-primary m-3" id="text-enter-button">Submit</button>
            </form>
            <p>Enter a Burger!</p>
        </div>
    </div>
</div>
